body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111827;
}

/*--------------------
styling 'outer'
----------------------*/
.outer {
  width: 60px;
  height: 60px;
  background: #ec4899;
  border-radius: 50%;
  animation: shapechange 5s cubic-bezier(0.42, 0, 0.58, 1) alternate infinite;
  position: relative;
}

/*--------------------
styling 'inner'
----------------------*/
.inner {
  width: 20px;
  height: 20px;
  background-color: #111827;
  position: absolute;
}

/*--------------------
positioning the 4 small divs
----------------------*/
.ss1 {
  top: 0;
  left: 0;
  animation: round1 5s cubic-bezier(0.42, 0, 0.58, 1) alternate infinite;
}

.ss2 {
  top: 0;
  right: 0;
  animation: round2 5s cubic-bezier(0.42, 0, 0.58, 1) alternate infinite;
}

.ss3 {
  bottom: 0;
  left: 0;
  animation: round3 5s cubic-bezier(0.42, 0, 0.58, 1) alternate infinite;
}

.ss4 {
  bottom: 0;
  right: 0;
  animation: round4 5s cubic-bezier(0.42, 0, 0.58, 1) alternate infinite;
}

/*--------------------
describing keyframes
----------------------*/
@keyframes round1 {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
  }

  10% {
    transform-origin: 20px 0;
    transform: rotate(90deg);
    background-color: #3b82f6;
    border-raius: 0;
  }

  20% {
    transform-origin: -20px 0;
    transform: rotate(90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  30% {
    transform-origin: 20px 0;
    transform: rotate(90deg);
    background-color: #6d28d9;
    border-radius: 0;
  }
  40% {
    transform-origin: -20px 0;
    transform: rotate(90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  50% {
    transform-origin: 20px 0;
    transform: rotate(90deg);
    background-color: #6d28d9;
    border-radius: 0;
  }
  60% {
    transform-origin: -20px 0;
    transform: rotate(-90deg);
    background-color: #4c1d95;
    border-radius: 50%;
  }
  70% {
    transform-origin: 20px 0;
    transform: rotate(-90deg);
    background-color: #4c1d95;
    border-radius: 0;
  }
  80% {
    transform-origin: -20px 0;
    transform: rotate(-90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  90% {
    transform-origin: 20px 0;
    transform: rotate(-90deg);
    background-color: #3b82f6;
    border-radius: 0;
  }
  100% {
    transform-origin: -20px 0;
    transform: rotate(-90deg);
    background-color: #ec4899;
    border-radius: 50%;
  }
}
@keyframes round2 {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
  }

  10% {
    transform-origin: 0 20px;
    transform: rotate(90deg);
    background-color: #3b82f6;
    border-raius: 0;
  }

  20% {
    transform-origin: 0 -20px;
    transform: rotate(90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  30% {
    transform-origin: 0 20px;
    transform: rotate(90deg);
    background-color: #6d28d9;
    border-radius: 0;
  }
  40% {
    transform-origin: 0 -20px;
    transform: rotate(90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  50% {
    transform-origin: 0 20px;
    transform: rotate(90deg);
    background-color: #6d28d9;
    border-radius: 0;
  }
  60% {
    transform-origin: 0 -20px;
    transform: rotate(-90deg);
    background-color: #4c1d95;
    border-radius: 50%;
  }
  70% {
    transform-origin: 0 20px;
    transform: rotate(-90deg);
    background-color: #4c1d95;
    border-radius: 0;
  }
  80% {
    transform-origin: 0 -20px;
    transform: rotate(-90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  90% {
    transform-origin: 0 20px;
    transform: rotate(-90deg);
    background-color: #3b82f6;
    border-radius: 0;
  }
  100% {
    transform-origin: 0 -20px;
    transform: rotate(-90deg);
    background-color: #ec4899;
    border-radius: 50%;
  }
}

@keyframes round3 {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
  }

  10% {
    transform-origin: 0 -20px;
    transform: rotate(90deg);
    background-color: #3b82f6;
    border-raius: 0;
  }

  20% {
    transform-origin: 0 20px;
    transform: rotate(90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  30% {
    transform-origin: 0 -20px;
    transform: rotate(90deg);
    background-color: #6d28d9;
    border-radius: 0;
  }
  40% {
    transform-origin: 0 20px;
    transform: rotate(90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  50% {
    transform-origin: 0 -20px;
    transform: rotate(90deg);
    background-color: #6d28d9;
    border-radius: 0;
  }
  60% {
    transform-origin: 0 20px;
    transform: rotate(-90deg);
    background-color: #4c1d95;
    border-radius: 50%;
  }
  70% {
    transform-origin: 0 -20px;
    transform: rotate(-90deg);
    background-color: #4c1d95;
    border-radius: 0;
  }
  80% {
    transform-origin: 0 20px;
    transform: rotate(-90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  90% {
    transform-origin: 0 -20px;
    transform: rotate(-90deg);
    background-color: #3b82f6;
    border-radius: 0;
  }
  100% {
    transform-origin: 0 20px;
    transform: rotate(-90deg);
    background-color: #ec4899;
    border-radius: 50%;
  }
}

@keyframes round4 {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
  }

  10% {
    transform-origin: -20px 0;
    transform: rotate(90deg);
    background-color: #3b82f6;
    border-raius: 0;
  }

  20% {
    transform-origin: 20px 0;
    transform: rotate(90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  30% {
    transform-origin: -20px 0;
    transform: rotate(90deg);
    background-color: #6d28d9;
    border-radius: 0;
  }
  40% {
    transform-origin: 20px 0;
    transform: rotate(90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  50% {
    transform-origin: -20px 0;
    transform: rotate(90deg);
    background-color: #6d28d9;
    border-radius: 0;
  }
  60% {
    transform-origin: 20px 0;
    transform: rotate(-90deg);
    background-color: #4c1d95;
    border-radius: 50%;
  }
  70% {
    transform-origin: -20px 0;
    transform: rotate(-90deg);
    background-color: #4c1d95;
    border-radius: 0;
  }
  80% {
    transform-origin: 20px 0;
    transform: rotate(-90deg);
    background-color: #10b981;
    border-radius: 50%;
  }
  90% {
    transform-origin: -20px 0;
    transform: rotate(-90deg);
    background-color: #3b82f6;
    border-radius: 0;
  }
  100% {
    transform-origin: 20px 0;
    transform: rotate(-90deg);
    background-color: #ec4899;
    border-radius: 50%;
  }
}

@keyframes shapechange {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: scale(1.2);
    background-color: #ec4899;
  }

  12.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 0;
    transform: scale(0.8);
    background-color: #831843;
  }

  25% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transform: scale(1.2);
    background-color: #ec4899;
  }

  37.5% {
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transform: scale(0.8);
    background-color: #831843;
  }

  50% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transform: scale(1.2);
    background-color: #ec4899;
  }

  62.5% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
    transform: rotate(180deg);
    background-color: #831843;
  }

  75% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(360deg);
    background-color: #ec4899;
  }

  87.5% {
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: scale(0.8);
    background-color: #831843;
  }

  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: scale(1.2);
    background-color: #ec4899;
  }
}
